{% extends "blog/base.html" %}

{% block content %}
	<div class="post">
		{% if post.published_date %}
			<div class="date">
				{{ post.published_date }}
			</div>
		{% endif %}
		<h1>{{ post.title }}</h1>
		<p>{{ post.text|linebreaks }}</p>
		
		<div class="comment">
			{% if post.published_date %}
				<div class="date">
					{{ post.published_date }}
				</div>
			{% endif %}
			{% for comment in comments %}
			<h1>{{ comment.author }}</h1>
			<p>{{ comment.text|linebreaks }}</p>
			{% endfor %}
			
		</div>	
		
		
	</div>
{% endblock %}				

<h1>New post</h1>
<form method="POST" class="post-form">{% csrf_token %}
	{{ form.as_p }}
	<button type="submit" class="save btn btn-default">Save</button>
</form>